# Local environment files
.env

# Repos
/repos/*
!/repos/
!/repos/README.md

# Projects
/projects/*
!/projects/
!/projects/README.md
!/projects/vibes/
!/projects/terraform-labs-v2/
!/projects/Agent-0/
!/projects/Agent-1/

# System files
.DS_Store
__pycache__/
.scratch