# Local environment files
.env

# Repos
/repos/*
!/repos/
!/repos/README.md

# Projects
/projects/*
!/projects/
!/projects/README.md
!/projects/terraform-labs-v2/


# VS Code and System files
.vscode/
.DS_Store
__pycache__/